.container11 {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template:
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh;
  }
  
  .container11 .box11 {
    position: relative;
    background: #ccc;
  }
  .container11 .box11.a {
    grid-row: span 2;
  }
  .container11 .box11.b,
  .container11 .box11.f,
  .container11 .box11.h,
  .container11 .box11.j {
    grid-column: span 2;
  }
  .container11 .box11 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 991px) {
    .container11 {
      grid-template:
        "1fr 1fr 1fr" 250px
        "1fr 1fr 1fr" 250px
        "1fr 1fr 1fr" 250px
        "1fr 1fr 1fr" 250px
        "1fr 1fr 1fr" 250px;
    }
  }
  @media (max-width: 768px) {
    .container11 {
      grid-template:
        "1fr 1fr" 200px
        "1fr 1fr" 200px
        "1fr 1fr" 200px
        "1fr 1fr" 200px
        "1fr 1fr" 200px
        "1fr 1fr" 200px
        "1fr 1fr" 200px;
    }
  }
  .container11 .box11.h {
    grid-column: span 1;
  }

  #gallery {
    padding: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .scroll-container {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  
  .scroll-item {
    flex: none;
    width: 200px; /* Set a fixed width for each image */
    height: 200px; /* Set a fixed height to make images equal in size */
    border-radius: 10px;
    overflow: hidden; /* Ensure that the image stays within the bounds of the box */
  }
  
  .scroll-item img {
    width: 100%; /* Fill the width of the container */
    height: 100%; /* Fill the height of the container */
    object-fit: cover; /* Ensure the image fills the container without stretching */
  }
  